### Docker runtime data ###
postgres-data/
pgdata/
data/
volume/

### Logs ###
*.log

### Environment ###
.env
.env.*

### OS ###
.DS_Store


### Allow essential files ###
!Dockerfile
!docker-compose.yml
!init.sql
!README.md
!.gitignore
!portmatch_data_only.sql
